# Environments
.env
.env.local
.env.production
.env.*.local
*.log

# Dependencies / build output
node_modules/
.next/
out/
dist/
build/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/
